@charset "utf-8";

/*ブラウザ規定スタイル解除*/
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* ここまで */

/*aタグホバー時*/
a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}
/* ここまで */
body {
  font-family: 'Bitter', serif;
}

header {
  width: 960px;
  margin: 0 auto;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  float: left;
  font-size: 20px;
}

#global-nav {
  float: right;
  margin-top: 5px;
}

#global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 15px;
  list-style: none;
}

h1 {
  font-size: 36px;
  margin-bottom: 60px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

.content {
  width: 960px;
  margin: 0 auto;
}

section {
  margin-bottom: 35px;
}

/* 表の装飾 */
th, td {
  background-color: #f0f0f0;
  padding: 12px;
}

th {
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}


/*フッター*/
footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}
