@charset "utf-8";

/*ブラウザ規定スタイル解除*/
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

/* ここまで */

/*aタグホバー時*/
a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}
/* ここまで */

header {
  width: 960px;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 20px;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.logo {
  float: left;
  font-size: 20px;
}


#global-nav {
  float: right;
  margin-top: 5px;
}

#global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 15px;
  list-style: none;
  font-family: 'Bitter', serif;
}

#wrap {
  height: 2000px; /* scrollgress */
}

h1 {
  margin-bottom: 60px;
}

.content {
  width: 960px;
  margin: 0 auto;
}

section {
  margin-bottom: 35px;
}

/* 表の装飾 */
th {
  background-color: #f0f0f0;
  padding: 12px;
  border: 1px solid #cccccc;
}

td {
  padding: 12px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}


/*フッター*/
footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}

.scrollgress {
  z-index: 3;
  top: 70px!important;
}
